<md-dialog aria-label="Update infos" flex="75">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Cleep update infos</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="$ctrl.closeDialog()" aria-label="Close dialog">
                    <cl-icon cl-mdi="close"></cl-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">

				<md-list>
	                <!-- header -->
    	            <md-list-item>
        	            <p>
                            You're going to install new version {{ $ctrl.cleepUpdates.version }} of Cleep.<br>
                            After installation, device will restart automatically.
                        </p>
            	    </md-list-item>

    	            <!-- changelog -->
        	        <md-subheader style="background-color:white;" class="md-subheader-inner">What's new</md-subheader>
            	    <md-list-item>
                	    <span ng-if="$ctrl.cleepUpdates.changelog.length>0" marked="$ctrl.cleepUpdates.changelog"></span>
	                    <span ng-if="!$ctrl.cleepUpdates.changelog || $ctrl.cleepUpdates.changelog.length===0">
                            No changelog provided
                        </span>
    	            </md-list-item>

				</md-list>
	
            </div>
        </md-dialog-content>

        <md-dialog-actions>
            <md-button ng-click="$ctrl.closeDialog()">
                <cl-icon cl-mdi="close-circle"></cl-icon>
                Cancel
            </md-button>
            <md-button ng-click="$ctrl.updateCleep()" class="md-accent">
                <cl-icon cl-mdi="plus-circle"></cl-icon>
                Update
            </md-button>
        </md-dialog-actions>

    </form>
</md-dialog>

