<md-dialog aria-label="Update infos" flex="75">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Logs</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="$ctrl.closeDialog()">
                    <cl-icon cl-icon="close"></cl-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" block-ui="logs-blockui">
                <span class="md-caption" ng-if="$ctrl.logs.length>0" style="white-space: pre-wrap;">{{$ctrl.logs}}</span>
                <span class="md-caption" ng-if="$ctrl.logs.length===0">
                    There is no log.
                </span>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>

