<div layout="column" ng-cloak class="module-padding">

    <!-- navigation tabs -->
    <md-nav-bar md-selected-nav-item="$ctrl.tabIndex" nav-bar-aria-label="Updates tabs">
        <md-nav-item md-nav-click="goto('modules')" name="modules">Applications updates</md-nav-item>
        <md-nav-item md-nav-click="goto('cleep')" name="cleep">Cleep updates</md-nav-item>
        <md-nav-item md-nav-click="goto('logs')" name="logs">Apps update logs</md-nav-item>
        <md-nav-item md-nav-click="goto('options')" name="options">Options</md-nav-item>
    </md-nav-bar>

    <div layout="column" layout-padding ng-if="$ctrl.tabIndex==='modules'">
        <config-button
            cl-title="Check available applications updates" cl-subtitle="Last check at {{ $ctrl.config.moduleslastcheck | hrDatetime }}"
            cl-btn-label="Check updates" cl-btn-icon="find-replace"
            cl-click="$ctrl.checkModulesUpdates()"
        ></config-button>

        <config-section cl-title="Installed applications" cl-icon="application-outline"></config-section>
        <config-list
            cl-items="$ctrl.moduleUpdates" cl-empty="No applications installed"
        ></config-list>
	</div>

    <div layout="column" layout-padding ng-if="$ctrl.tabIndex==='logs'">
        <config-list
            cl-items="$ctrl.moduleLogs" cl-empty="No applications installed"
        ></config-list>
    </div>

    <div layout="column" layout-padding ng-if="$ctrl.tabIndex==='cleep'">
        <config-button
            cl-title="Cleep version {{$ctrl.config.cleepversion}} is installed"
            cl-subtitle="No update available (last check {{$ctrl.cleepService.modules['update'].config.cleeplastcheck | hrDatetime}})"
            cl-disabled="$ctrl.cleepInstalling || $ctrl.cleepPending"
            cl-btn-label="Check updates" cl-btn-icon="find-replace"
            cl-click="$ctrl.checkCleepUpdates()"
        ></config-button>

        <config-button
            ng-if="$ctrl.cleepUpdates.updatable"
            cl-disabled="$ctrl.cleepUpdates.processing || $ctrl.cleepUpdates.pending"
            cl-title="New Cleep version {{$ctrl.cleepUpdates.version}} is available"
            cl-btn-label="Update Cleep" cl-btn-icon="update" cl-btn-style="md-accent md-raised"
            cl-click="$ctrl.showCleepUpdateDialog($event)"
        ></config-button>

        <config-progress
            ng-if="$ctrl.cleepUpdates.processing && $ctrl.updateService.cleepUpdateStatus < 2"
            cl-title="{{ $ctrl.cleepInstallProgress }}" cl-infinite="true" cl-style="md-accent"
        ></config-progress>
        <config-progress
            ng-if="$ctrl.cleepUpdates.processing && $ctrl.updateService.cleepUpdateStatus >= 2"
            cl-title="{{ $ctrl.cleepInstallProgress }}" cl-model="100"
        ></config-progress>

        <config-button
            ng-if="$ctrl.config.cleepupdatelogs.timestamp"
            cl-title="Last update installation {{ $ctrl.config.cleepupdatelogs.failed ? 'failed' : 'succeed' }} at {{ $ctrl.config.cleepupdatelogs.timestamp | hrDatetime }}"
            cl-click="$ctrl.showLogsDialog('cleep', $event)"
            cl-btn-label="Show logs" cl-btn-icon="file-document-outline" cl-btn-style="{{ $ctrl.config.cleepupdatelogs.failed ? 'md-raised md-accent': 'md-raised md-primary' }}"
        ></config-button>
	</div>

    <div layout="column" layout-padding ng-if="$ctrl.tabIndex==='options'">
        <config-note
            cl-type="info" cl-note="To enjoy new features and bug fixes automatically, enable automatic updates" cl-icon="information"
        ></config-note>
        <config-switch
            cl-title="Enable automatic Cleep application updates"
            cl-meta="{ type: 'cleep' }"
            cl-model="$ctrl.config.cleepupdateenabled" cl-click="$ctrl.setAutomaticUpdate(value, meta)"
        ></config-switch>
        <config-switch
            cl-title="Enable automatic applications updates"
            cl-meta="{ type: 'apps' }"
            cl-model="$ctrl.config.modulesupdateenabled" cl-click="$ctrl.setAutomaticUpdate(value, meta)"
        ></config-switch>
	</div>

</div>

